<div class="block <%=block.name%>">
  <div class="big">
    <%= render_puff(block.puffs[0], feed.articles[0]) %>
  </div>
  <div class="small">
    <%= render_puff(block.puffs[1], feed.articles[1]) %>
    <%= render_puff(block.puffs[2], feed.articles[2]) %>
  </div>
</div>
