@import "bourbon";
$visual-grid: true;
@import "neat-helpers";
@import "neat";


.frame {

}

.blocks {
}

.block {
  @include outer-container;
}

.one > .puff {
  @include span-columns(12);
}

.two > .puff {
  @include span-columns(6);
}

.three > .puff {
  @include span-columns(4);
}

.four > .puff {
  @include span-columns(3);
}

.one_big_and_two_small > div {
  @include span-columns(6);
}

.top > .title {
  @include span-columns(12);
  h1 {
    font-family: impact;
    font-size: 72pt;
    text-align: center;
  }
}
